<div class="property">
    <div class="property__image-wrap">
        <img src="{{this.image_url}}" class="property__image">
    </div>
    <div class="property__details">
        <h3>{{this.title}}</h3>
        <span class="property__price">{{this.formatted_price}}</span>
        <p>{{this.description}}</p>
    </div>

    <div class="property__address-box">
        <img src="{{this.agent_logo}}">
        <div class="property__address">
            <span>{{this.agent_name}}</span>
            <span>{{this.formatted_address}}</span>
            <span>T: {{this.agent_phone}}</span>
        </div>
    </div>
</div>